/* 
https://coolors.co/ea8c55-c75146-ad2e24-81171b-540804
color: #000;
color: #eee;
color:#f5593d;
*/

body {
    font-family: 'Montserrat', sans-serif;  
}

/* Header */
header {
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.5)),url(assets/img/monkees.jpg) no-repeat center center /cover;
    /* -webkit-clip-path: polygon(0 1%, 100% 0, 100% 95%, 0% 100%);
    clip-path: polygon(0 1%, 100% 0, 100% 95%, 0% 100%); */
}

/* Navbar */
.nav-menu {
    background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1));
    padding: 30px;
    transition: all .7s;
}
.scrolled {
    color: #000;
}
.menu-item {
    font-size: 13px;
    letter-spacing: 1px;
    color: #eee;
    transition: color .5s;
}
.menu-item:hover {
    color:#f5593d;
}
.nav-active {
    color:#f5593d;
}

.line1, .line2, .line3 {
    width: 23px;
    height: 3px;
    margin: 5px;
    transition: all .5s;
}
.change .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}
.change .line2 {
    opacity: 0;
}
.change .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}
.custom-navbar {
    padding: 5px 30px;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.7))
}
/* End of navbar */

/* Banner */
.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}
.banner-heading {
    animation-name: anim;
    animation-duration: 2s;
}
.banner-par {
    animation-name: anim;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-fill-mode: backwards;
}
.banner-arrow {
    animation-name: anim;
    animation-duration: 3s;
    /* animation-delay: .3s; */
    /* animation-fill-mode: forwards; */
}

@keyframes anim {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
/* End of banner */
/* End of header */

/* The Band */
section#about {
    /* height: 90vh; */
    background: linear-gradient(rgba(0,0,0,.9),rgba(0,0,0,.1));
    /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 9% 95%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 9% 95%); */
}

.row1, .row2 {
    display: flex;
    justify-content: space-around;
}

/* End of Band */

/* Gallery */
.gallery-list-item {
    cursor: pointer;
}
/* End Gallery */

/* Contact */
.contact {
    /* Angle to split background */
    background:linear-gradient(105deg, 
    /* From left side of background 70% is covered, from 1 to .8 opacity*/
    rgba(21,31,32,1) 0%, 
    rgba(21,31,32,.8) 50%,
    transparent 50%), 
    url('assets/img/portrait-of-the-monkees-story-top.jpg') center center no-repeat/cover;
}

.input {
    background: transparent;
    border-color:transparent;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    transition: all .5s;
}

.input:focus {
    background: transparent;
    border-color:transparent;
    box-shadow: none;
    color: #fff;
    border-bottom: 2px solid#f5593d;
}
.submit-button {
    background:#f5593d;
    color: #eee;
    transition: all .3s;
}
.submit-button:hover {
    background:#f5593d;
    transform: translateY(-3px);
}
.label {
    color: #777;
    display:block;
    margin-top: -70px;
    margin-left: 4px;
    font-size: 13px;
    transition: all .3s;
}
.input:placeholder-shown + .label {
    transform: translate(20px, 20px);
    opacity: 0;
    visibility: hidden;
}

@media (max-width: 992px) {
    .contact {
        background: linear-gradient(rgba(21,31,32,1), rgba(21,31,32,.95))
    }
    .contact-form {
        width: 80%;
        margin:auto;
    }
}
/* end of contact */

/* Footer */
.footer-link {
    color: #eee;
    font-size: 13px;
    transition: all .3s;
}
.footer-link:hover {
    color: #78aed2;
    text-decoration: none;
}
/* End of footer */